:root {
    --primary-color: #640D14;
    --secondary-color: #00223D;
    --accent-color: #ffffff;
    --accent-color-1: #000000;
}
/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: auto;
}
header {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 1rem;
}
header h1 {
    font-style: italic;
    font-size: 1.5rem;
}
main {
    padding: 1rem;
    background-color: var(--primary-color);
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .2rem;
}
section {
    background-color: var(--accent-color);
    overflow: hidden;
    text-align: center;
    padding: 2rem;
}
h2 {
    font-size: 1.2rem;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 2rem;
    font-size: 1.2rem;
}