:root {
    --primary-color: #640D14;
    --secondary-color: #00223D;
    --accent-color: #ffffff;
    --accent-color-1: #000000;
}
* {
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: auto;
}
header,
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 1rem;
    margin: 0;
    font-size: 1.2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
main p {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    font-style: italic;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}