* {
    box-sizing: border-box;
}
header, footer {
    background: #b6f0ff;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
main {
    margin: 0 auto;
    width: 400px;
    display: block;
}
img {
    width: 100%;
    background: #000000;
    animation: fade 15s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}