:root {
    --background: #1b263b;
    --background2: #415a77;
    --text-light: #ffffff;
    --text-dark: #1b263b;
    --border: #1b263b;
    --zebra: #e0e1dd;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: "Roboto", sans-serif;
    max-width: 960px;
}
h1 {
    text-align: center;
    color: var(--text-dark);
    font-style: italic;
    font-size: 1.5rem;
    margin: 2rem;
}
table {
    border-collapse: collapse;
    box-shadow: 0 0 10px gray;
    border: 1px solid var(--border);
}
caption {
    caption-side: bottom;
    font-size: .9rem;
    padding: 1rem;
    color: var(--text-dark);
    font-weight: 600;
}
tr:first-child th {
    font-size: x-large;
    color: var(--text-light);
    background-color: var(--background);
    padding: 1rem;
}
tr:nth-child(2) th:first-child {
    background-color: var(--background);
}
th {
    color: var(--text-light);
    font-size:x-large;
    background-color: var(--background2);
    padding: 1rem;
    border: 1px solid var(--border);
}
td {
    border: 1px solid var(--border);
    text-align: center;
    padding: 10px;
}
td:first-child {
    font-weight: bold;
    font-size: larger;
    color: var(--text-dark);
}
tbody tr:nth-child(even) {
    background-color: var(--zebra);
}