:root {
    --back: rgba(34, 139, 34, 1);
    --back2: rgba(34, 139, 34, 0.5);
    --forelight: #fff;
    --border: hsla(34, 30%, 20%, 0.8);
    --zebra: hsl(60, 70%, 90%);
    --check-color: #228B22;
    --cross-color: #8B0000;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--forelight); 
    color: black;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: var(--check-color);
    text-transform: uppercase;
}
table {
    margin: 20px auto;
    border: 1px solid var(--border);
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 10px gray;
}
caption {
    caption-side: bottom;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--back);
    font-weight: 600;
}
th {
    color: var(--back2);
    font-size: large;
    background-color: var(--forelight);
}
th, td {
    border: 2px solid var(--border);
    text-align: center;
    padding: 10px;
}
