:root {
    --primary-color: #ffffff;
    --secondary-color: #cf2b35;
    --accent1-color: #ebeff6;
    --accent2-color: #011e79;
}
* {
	box-sizing: border-box;
}
/* Body */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding: .2rem;
    background-color: var(--accent1-color);
}
header, section h2, section h3, section p {
    text-align: center;
}
/* Header */
header h1 {
    text-transform: uppercase;
}
header p {
    font-style: italic;
}
header {
    color: var(--accent2-color);
}
/* Section */
section {
    padding: .5rem;
    background-color: var(--primary-color);
    margin: 1rem;
}
section h2 {
    color: var(--secondary-color);
}
.color-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 10px;
    justify-content: center;
}
.color-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.color-box {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.color-box.primary-color {
    background-color: var(--primary-color);
}
.color-box.secondary-color {
    background-color: var(--secondary-color);
}
.color-box.accent1-color {
    background-color: var(--accent1-color);
}
.color-box.accent2-color {
    background-color: var(--accent2-color);
}
/* Image */
img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1rem auto;
}