:root {
    --primary-color: #ffffff;
    --secondary-color: #cf2b35;
    --accent1-color: #ebeff6;
    --accent2-color: #011e79;
}
* {
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--accent1-color);
    margin: auto;
}
/* Header */
header {
    display: block;
    align-items: center;
    background-color: var(--accent1-color);
}
header h1 {
    color: var(--accent2-color);
    padding: 10px;
    text-transform: uppercase;
}
/* Navigation */
nav {
    margin: 1rem auto;
}
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--primary-color);
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
nav .active { 
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background-color: rgba(0, 0, 0, 0.2);
}
/* hamburger menu button */
#menu {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}
/* Menu */
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "❌";
}
.open a {
    display: block;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 1rem;
}