@media screen and (min-width: 500px) {
    h1 {
        text-align: center;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navigation li {
        width: 100%;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem; 
    }  
    .footer-container > div {
        flex: 1 1 250px;
        max-width: 250px;
        padding: 10px;
    }
    #copyright {
        text-align: center;
    }
}