@media screen and (min-width: 500px) {
    body {
        max-width: 960px;
    }
    /* -------------- HEADER (ALL PAGES) --------------- */
    /* HAMBURGUER MENU */
    #menu {
        display: none;
    }
    /* NAVIGATION */
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navigation li {
        width: 100%;
    }
    /* ------------ FOOTER (ALL PAGES) ----------------- */
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem; 
    }  
    .footer-container > div {
        flex: 1 1 250px;
        max-width: 250px;
        padding: 10px;
    }
    #copyright {
        text-align: center;
    }
    /* ----------------- HOME PAGE --------------------- */
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    #forecast {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
    /* ----------------- DISCOVER PAGE ----------------- */
    .event-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .company-spotlights .event-card {
        flex: 1 1 calc(33.33% - 20px); 
        max-width: calc(33.33% - 20px); 
    }
    .sidebar {
        position: sticky;
        top: 0;
        height: fit-content;
    }
    .discover-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    .discover-pictures img:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 10); 
    }
    /* -------------------- JOIN PAGE ------------------ */
    .join-flex {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        max-width: 960px;
        margin: 0 auto;
        justify-content: center;
    }
    .join-flex > .content {
        flex: 1 1 0;
    }
    .join-flex > .table-sidebar {
        flex: 1 1 300px;
        position: sticky;
        top: 1rem;
        height: fit-content;
    }
    /* ----------------- DIRECTORY PAGE ---------------- */
    #members.list > section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #members.list h3, 
    #members.list p, 
    #members.list a {
        flex: 1;
        vertical-align: middle;
    }
    #members.list img {
        display: none;
    }
}