@media screen and (min-width: 500px) {
    body {
        max-width: 1200px;
    }
    h1 {
        text-align: center;
    }
    /* Header */
    .header-div {
        display: flex;
        align-items: center;
        justify-content:left;
    } 
    /* Hamburguer Menu */
    #menu {
        display: none;
    }
    /* Navigation */
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navigation li {
        width: 100%;
    }
    /* Main Hero */
    .hero {
        height: 70vh;
    }
    
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .event-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .weather {
        max-width: 800px;
        margin: 3rem auto;
        padding: 2rem;
    }
    .weather-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }
    .weather-img {
        width: 250px;
        height: auto;
        justify-self: center;
        align-self: center;
    }
    .weather-details {
        text-align: left;
        font-size: 1.2rem;
    }
    .weather-details p {
        padding: 1rem 1.5rem;
        margin: 0.8rem 0;
        border-radius: 12px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
    .weather-details p:hover {
        transform: scale(1.05);
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .company-spotlights .event-card {
        flex: 1 1 calc(33.33% - 20px); 
        max-width: calc(33.33% - 20px); 
    }
    /* Footer */
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem; 
    }  
    .footer-container > div {
        flex: 1 1 250px;
        max-width: 250px;
        padding: 10px;
    }
    #copyright {
        text-align: center;
    }
}