@media screen and (min-width: 500px) {
    body {
        max-width: 980px;
    }
    h1 {
        text-align: center;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}