@media screen and (min-width: 500px) {
    body {
        max-width: 980px;
    }
    header {
        display: flex;
    }
    /* hamburger menu button Hidden */
    #menu {
		display: none;
	}
    /* Navigation */
    .navigation {
        display: flex;
    }
	.navigation a {
		display: block;
	}
}