@media screen and (min-width: 500px) {
    h1 {
        text-align: center;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
        width: 100%;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    /*
    footer {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        gap: .5rem;
        justify-content:center;
    }
    footer > div:nth-child(5) {
        grid-column: 1 / -1;
        text-align: center;
    }*/
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem; 
    }  
    .footer-container > div {
        flex: 1 1 250px;
        max-width: 250px;
        padding: 10px;
    }
    #copyright {
        text-align: center;
    }
}