@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --primary-color: #4D7C8A;
    --secondary-color: #00223D;
    --accent-color: #ffffff;
    --accent-color-1: #000000;
    /* font */
    --main-font: 'Lato', sans-serif;
}
/* The global selector */
* {
    box-sizing: border-box;
}
/* body */
body {
    font-family: var(--main-font);
    margin: 0 auto;
    padding: .2rem;
}
/* Header */
header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    font-style: italic;
}
header img {
    width: 80px; 
    height: auto; 
    box-shadow: 0 0 2px var(--primary-color);
}
header span {
    margin-left: 1rem;
    font-size: 1.8rem;
}
/* Navigation */
nav {  
    justify-content: space-around;
    background-color: var(--primary-color);
}
nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem;
    transition: background-color 0.7s ease, color 0.7s ease;
    width: 100%;
    color: var(--accent-color-1);
    border: 1px solid var(--secondary-color);
    font-size: 1.2rem;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
nav .active { 
    background-color: rgba(255, 255, 255, 0.4);
}
/* Main */
.main-title {
    text-align: center;
    margin: 5px;
    font-size: 0.9rem;
}
.card {
    padding: 1rem;
    box-shadow: 0 0 6px var(--secondary-color);
    border-radius: 8px;
    margin: 0.5rem;
}
.card h2 {
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--accent-color);
    border-radius: 8px 8px 0 0;
    padding: 0.5rem;
    margin: -1rem -1rem 1rem -1rem;
    font-size: 1.3rem;
}
.card p {
    text-align: center;
}
.card ul {
    list-style-type: none; 
    padding-left: 0; 
}
.card ul li {
    margin-bottom: 0.5rem;
}
.card a {
    text-decoration: none;
    padding: .3rem;
    transition: background-color 0.7s ease, color 0.7s ease;
    color: var(--accent-color-1);
    font-style: italic;
}
.card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 5px;
}