:root {
    --primary-color: #4D7C8A;
    --secondary-color: #00223D;
    --accent-color: #ffffff;
    --accent-color-1: #000000;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* Global Styles */
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding: .2rem;
}
header, .card h2, footer {
    background-color: var(--secondary-color);
}
header, .card {
    padding: 1rem;
}
header, footer, .card h2 {
    color: var(--accent-color);
}
nav a, .main-title, .card h2, .card p, footer {
    text-align: center;
}
nav a, .card a {
    color: var(--accent-color-1);
}
nav a, .card a {
    text-decoration: none;
}
header, .card a {
    font-style: italic;
}
nav a, .card a {
    transition: background-color 0.7s ease, color 0.7s ease;
}
nav a, .card h2 {
    padding: 0.5rem;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: 100;
}
header img {
    width: 80px; 
    height: auto; 
    box-shadow: 0 0 2px var(--primary-color);
}
header span {
    margin-left: 1rem;
    font-size: 1.8rem;
}
/* Navigation */
nav {  
    justify-content: space-around;
    background-color: var(--primary-color);
}
nav a {
    display: block;
    width: 100%;
    border: 1px solid var(--secondary-color);
    font-size: 1.2rem;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
nav .active { 
    background-color: rgba(255, 255, 255, 0.4);
}
/* Main */
.main-title {
    margin: 5px;
    font-size: 0.7rem;
}
.card {
    box-shadow: 0 0 6px var(--secondary-color);
    border-radius: 8px;
    margin: 0.5rem;
}
.card h2 {
    border-radius: 8px 8px 0 0;
    margin: -1rem -1rem 1rem -1rem;
    font-size: 1.3rem;
}
.card ul {
    list-style-type: none; 
    padding-left: 0; 
}
.card ul li {
    margin-bottom: 0.5rem;
}
.card a {
    padding: .3rem;
}
.card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}
/* Footer */
footer {
    padding: 5px;
}