:root {
    --primary-color: #640D14;
    --secondary-color: #00223D;
    --accent-color: #ffffff;
    --accent-color-1: #000000;
}
/* Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: auto;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: left; 
    font-weight: 100;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 1rem;
    font-style: italic;
}
.profile {
    width: 80px; 
    height: auto; 
}
header span {
    margin-left: 1rem;
    font-size: 1.8rem;
}
/* Header Navigation */
.navigation {
    background-color: var(--primary-color);
}
.navigation ul {
    list-style: none;
    margin: 0;
}
.navigation a {
    display: none;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.7s ease, color 0.7s ease;
    text-align: center;
    color: var(--accent-color);
}
.navigation a:hover, nav .active {
    background-color: rgba(0, 0, 0, 0.2);
}
/* hamburger menu button */
#menu {
    font-size: 2rem;
    top: 4rem;
    right: 0.5rem;
    background: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: none;
    position: absolute;
    color: var(--accent-color);
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "x";
}
.open a {
    display: block;
}
/* Dark mode Btn */
#darkBtn {
    top: 3rem;
    right: 1.6rem;
    width: 24px;
    height: auto; 
    cursor: pointer;
    border: none;
    position: absolute;
}
.dark-mode {
    background-color: var(--accent-color-1);
    color: var(--accent-color);
}
.dark-mode .main-title h1, 
.dark-mode .card a {
    color: var(--accent-color);
}
/* Main */
.main-title {
    margin: 5px;
    font-size: 0.7rem;
    text-align: center;
}
.main-title h1 {
    color: var(--secondary-color);
}
.card, .map-container, #reset-counter {
    box-shadow: 0 0 6px var(--secondary-color);
    border-radius: 8px;
    margin: 0.5rem;
    padding: 1rem;
}
.card h2 {
    border-radius: 8px 8px 0 0;
    margin: -1rem -1rem 1rem -1rem;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 0.5rem;
    text-align: center;
}
.card p {
    text-align: center;
}
.card ul {
    list-style-type: none; 
    padding-left: 0; 
}
.card ul li {
    margin-bottom: 0.5rem;
}
.card a {
    padding: .3rem;
    color: var(--accent-color-1);
    text-decoration: none;
    transition: background-color 0.7s ease, color 0.7s ease;
    font-style: italic;
}
.card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}
/* Footer */
footer {
    padding: 5px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    text-align: center;
}
.hero {
    position: relative;
}
.hero picture {
    width: 100%;
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
    background: radial-gradient(var(--primary-color), var(--secondary-color));	
    padding: 1.5rem;
	box-shadow: 0 0 3rem var(--secondary-color);
	opacity: 1.2;
}
.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
    color: var(--accent-color);
    font-style: italic;
    font-weight: 500;
}
iframe {
    width: 100%;
    height: auto;
}
#reset-counter {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: .5rem;
}

#reset-counter:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

