@media screen and (min-width: 500px) {
    body {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr auto;
    }
    header {
        grid-column: 1 / 3;
    }
    /* Navigation */
    nav {
        grid-column: 1 / 3;
        display: flex;
    }
    main h1 {
        text-align: left;
    }
    footer {
        grid-column: 1 / 3;
    }
}