@media screen and (min-width: 500px) {
    body {
        max-width: 980px;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto 1fr auto;
    }
    .main-title {
        text-align: left;
        grid-column: span 2;
    }
    #menu {
        display: none;
    }
    /* Navigation */
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navigation li {
        width: 100%;
    }
}