@media screen and (min-width: 500px) {
    body {
        max-width: 980px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr auto;
    }
    header {
        grid-column: 1 / 3;
    }
    /* Navigation */
    nav {
        grid-column: 1 / 3;
        display: flex;
    }
    main h1 {
        text-align: left;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .main-title {
        grid-column: span 2;
        margin: 1rem;
    }
    footer {
        grid-column: 1 / 3;
    }
}